{% extends 'base.html'%}


{% block title %}
    <title>VERIGHETE Page</title>
{% endblock %}

{% block content %}
    <div class="row">
    <div class = "col-12 col-m-6">
        <h1>VERIGHETE {{ request.session.cart }}</h1>
        </div>
    </div>
      <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


    <ul class="row">
        {% for modelverighete in page_obj %}
        <li style="margin-bottom: 10px;" class="col-12 col-md-6">
        <div>
            {{modelverighete.name}} - {{modelverighete.price}} RON <a href="{% url 'verighete:details' modelverighete.id %}">Vezi modelverighete</a>
        </div>
            <div>
                <form method="post" action="{% url 'verighete:add_to_cart' modelverighete.id %}">
                    {% csrf_token %}
<!--                    <input type = "hidden" value="{{modelverighete.id}}" name="modelverighete_id" />-->
                    <input type = "number" value="0" name="quantity" />
                    <input type = "submit" value="Add to cart" />
                </form>
            </div>
        </li>
    {% endfor %}
        </ul>
    </ul>
{% endblock %}

